<app-header></app-header>
<hr>
<!-- <h1>HOLA</h1> -->
<router-outlet></router-outlet> <!-- Es necesario agregar el tag router.oulet para poder renderizar las rutas -->
<!-- creacion del subject para compartir informacion entre compoentnees  -->
<app-todo></app-todo>
<!-- <hr>
<app-listado></app-listado>
<hr>
<h2>Pipes</h2>
<app-pipes></app-pipes>
<hr>
<app-header></app-header>
<hr>
<h1>Directivas</h1>
<h2>De atributo</h2>
<app-atributo></app-atributo>
<hr>
<h2>Estructurales</h2>
<app-estructural></app-estructural> -->
